@import '../../.cache/wal/colors-waybar.css';

* {
   /* font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
        background-image: none;
        transition: 20ms;
        box-shadow: none;
}

window {
        /*background: url("../../.cache/blurred_wallpaper.png");*/
        /*background-size: cover;*/
background-color: rgba(12, 12, 12, 0.9);
}

button {
        color: #FFFFFF;
    font-size:20px;

    background-repeat: no-repeat;
        background-position: center;
        background-size: 25%;

        border-style: none;
        background-color: rgba(1, 1, 1, 0.3);
       /* border: 3px solid #FFFFFF;*/

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
    color: #ffffff;
        background-color: rgba(1, 1, 1, 0.6);
        /*border: 3px solid @color11;*/
}

#lock {
    margin: 10px;
    border-radius: 30px;
    background-image: image(url("/nix/store/fb4z5zzc1a7kbx34111d9rn96n71xz4h-wlogout-1.2.2/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    margin: 10px;
    border-radius: 30px;
    background-image: image(url("/nix/store/fb4z5zzc1a7kbx34111d9rn96n71xz4h-wlogout-1.2.2/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    margin: 10px;
    border-radius: 30px;
    background-image: image(url("/nix/store/fb4z5zzc1a7kbx34111d9rn96n71xz4h-wlogout-1.2.2/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    margin: 10px;
    border-radius: 30px;
    background-image: image(url("/nix/store/fb4z5zzc1a7kbx34111d9rn96n71xz4h-wlogout-1.2.2/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    margin: 10px;
    border-radius: 30px;
    background-image: image(url("/nix/store/fb4z5zzc1a7kbx34111d9rn96n71xz4h-wlogout-1.2.2/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    margin: 10px;
    border-radius: 30px;
    background-image: image(url("/nix/store/fb4z5zzc1a7kbx34111d9rn96n71xz4h-wlogout-1.2.2/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
